*{
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(100px, autofill);
    grid-gap: 15px;
    padding: 2%;
}

.box-1 {
    background-color: #c7956f;
    grid-column: 1 / 3;
    padding: 8%;
    border-radius: 10px;
}

.box-2 { 
    background-color: #fabea7;
    grid-column: 3 / 5;
    padding: 8%;
    border-radius: 10px;
}

.box-3 {
    background-color: #f1ae89;
    grid-column: 1 / 2;
    padding: 6%;
    border-radius: 10px;
}

.box-4 {
    background-color: #d68060;
    grid-column: 2 / 5;
    padding: 6%;
    border-radius: 10px;
}

.box-5 {
    background-color: #f8a974;
    grid-column: 1 / 5;
    padding: 5%;
    border-radius: 10px;
}