*{
    margin: 0 auto;
  }

  .row-1-wrapper{
    padding-top: 50px;
    padding-left: 70px;
  }
  
  .row-1-block-1{
    background-color: #F5C6D6;
    width: 1200px;
    height: 200px;
    border: solid white 10px;
    float: left;
  }
  
  .row-2-wrapper{
    padding-left: 70px;
  }
  
  .row-2-block-1, .row-2-block-2, .row-2-block-3, .row-2-block-4{
    background-color: #EE2E84;
    width: 285px;
    height: 200px;
    border: solid white 10px;
    float: left;
  }
  
  .row-3-wrapper{
    padding-left: 70px;
  }
  
  .row-3-block-1, .row-3-block-2{
    background-color: #85CFD8;
    width: 590px;
    height: 200px;
    border: solid white 10px;
    float: left;
  }
  
  .row-4-wrapper{
    padding-left: 70px;
  }
  
  .row-4-block-1{
    background-color: #8DC63F;
    width: 895px;
    height: 200px;
    border: solid white 10px;
    float: left;
  }
  
  .row-4-block-2{
    background-color: #E76E34;
    width: 285px;
    height: 200px;
    border: solid white 10px;
    border-bottom-width: 60px;
    float: left;
  }


/*mobile*/
@media (max-width: 767px) {

  .row-1-block-1{
    background-color: #F5C6D6;
    width: 350px;
    height: 45px;
    border: solid white 1px;
  }

  .row-2-wrapper, .row-3-wrapper, .row-4-wrapper{
    padding-left: 70px;
  }
  
  .row-2-block-1, .row-2-block-2, .row-2-block-3, .row-2-block-4{
    background-color: #EE2E84;
    width: 350px;
    height: 45px;
    border: solid white 1px;
  }

  .row-3-block-1, .row-3-block-2{
    background-color: #85CFD8;
    width: 350px;
    height: 45px;
    border: solid white 1px;
  }
  
  .row-4-block-1{
    background-color: #8DC63F;
    width: 350px;
    height: 45px;
    border: solid white 1px;
  }
  
  .row-4-block-2{
    background-color: #E76E34;
    width: 350px;
    height: 45px;
    border: solid white 1px;
    border-bottom-width: 60px;
  }
}

