* {  
    margin: 0px;
}

.container {
    background-image: url("images/restaurant-resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 560px;
    padding: 0px;
     
}

.background-container-menu {
    background-image: url("images/restaurant-resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 3000px;
    width: 560px;
    padding: 0px; 
}
.background-container-about {
    background-image: url("images/restaurant-resize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 560px;
    padding: 0px; 
}

.navbar {
    background-color: #f9b384;
    font-size: 18.54px;
    font-family: 'Cinzel Decorative', cursive;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    padding: 15px 46px;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

h1 {
    color: #f9b384;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 160px;
}

h3{
    font-size: 25px;
}

h4{
    color:  #f9b384;
    font-size: 18px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding: 15px 20px 5px 20px;
}

h5 {
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding: 15px 20px 5px 10px;
}

h6 {
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 10px;
}

.tagline {
    color: whitesmoke;
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
}

span {
    font-style: italic;
}

a:visited {
        color: black;
}

a:hover {
    color: whitesmoke;
}


.hr-contact-container {
    border-top: 2px solid whitesmoke;
    border-bottom: 0px;
    width: 20px;
    margin: 0 auto;
}

.contact-container {
    background-color:  black;
    padding-bottom: 5px;
}
.contact-info, .copyright {
    color: whitesmoke;
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-bottom: 0px;
}

.black-container {
    background-color: black;
    width: 400px;
    border-style: solid;
    border-color: #f9b384;
    margin: 0 auto;
}

.menu-page, .about-page, .photo-gallery-page {
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;

}

.menu-heading, .gallery-heading, .about-us-heading {
    color: #f9b384;
    font-size: 45px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}  

.hr-menu-container{
    border-top: 6px dotted  #f9b384;
    border-bottom: 0px;
    width: 20px;
    margin: 0 auto;
}

.food-items{
    color: whitesmoke;
    text-align: center; 
    padding-top: 35px;
    font-size: 15px;
}

.item-description{
    color: whitesmoke;
    text-align: center; 
    font-size: 14px; 
}

.appetizers-section, .entrees-section, .sides-section, .desserts-section{
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
}

.food-images{
    display: inline-block;
    width: 110px;
    height: 110px;
}

.drinks-section{
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
}

.drink-items{
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.drink-type{
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
}

.about-us-info {
    color: #f9b384;
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 20px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 0px 0px 0px;
        height: 600px;
        width: 1015px;
    }

    .background-container-home {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 750px;
        padding: 0px; 
    }

    .background-container-menu{
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 3150px;
        width: 750px;
        padding: 0px; 
    }

    .background-container-about {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 750px;
        padding: 0px; 
    }

    .background-container-gallery {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 740px;
        width: 750px;
        padding: 0px; 
    }

    .navbar {
        background-color: #f9b384;
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
        list-style: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        padding: 10px 123px 10px 123px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 0px 7px 0px 7px;
    }
    h1 {
        color: #f9b384;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    h3 {
        font-size: 27px;
    }

    h4 {
        color:  #f9b384;
        font-size: 15 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding: 15px 20px;
    }
    
    h5 {
        color: whitesmoke;
        font-size: 25 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 10px;
    }
    
    h6 {
        color: whitesmoke;
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 10px;
    }
    .hr-contact-container{
        border-top: 2px solid whitesmoke;
        border-bottom: 0px;
        width: 748px;
        margin: 0 auto;
    }
    
    .contact-container {
        background-color:  black;
        padding-bottom: 5px;
    }
    .contact-info, .copyright{
        color: whitesmoke;
        font-size: 10 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .tagline {
        color: whitesmoke;
        text-align: center;
        padding-top: 160px;
        font-size: 35px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    span {
        font-style: italic;
    }
    
    a:visited {
         color: black;
    }
    
    a:hover {
        color: whitesmoke;
    }

    .black-container {
        background-color: black;
        width: 375px;
        border-style: solid;
        border-color: #f9b384;
        margin: 0 auto;
    }
    
    .menu-page, .about-page, .photo-gallery-page {
        color: whitesmoke;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .menu-heading, .gallery-heading, .about-us-heading {
        color: #f9b384;
        font-size: 50px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }  
    
    .hr-menu-container{
        border-top: 6px dotted  #f9b384;
        border-bottom: 0px;
        width: 20px;
        margin: 0 auto;
    }
    
    .food-items{
        color: whitesmoke;
        text-align: center; 
        padding-top: 35px;
        font-size: 18px;
    }
    
    .item-description{
        color: whitesmoke;
        text-align: center; 
        font-size: 16px; 
    }
    
    .appetizers-section, .entrees-section, .sides-section, .desserts-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .food-images{
        display: inline-block;
        width: 115px;
        height: 125px;
        padding: 5px 0px;
    }
    
    .drinks-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .drink-items{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    
    .drink-type{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .about-us-info {
        color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 20px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 0px 0px 0px;
        height: 600px;
        width: 1015px;
    }

    .background-container-home {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 974px;
        padding: 0px; 
    }

    .background-container-menu{
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 3150px;
        width: 974px;
        padding: 0px; 
    }

    .background-container-about {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 974px;
        padding: 0px; 
    }

    .background-container-gallery {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 974px;
        padding: 0px; 
    }

    .navbar {
        background-color: #f9b384;
        font-size: 24px;
        font-family: 'Cinzel Decorative', cursive;
        list-style: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        padding: 15px 100px 15px 100px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 0px 45px 0px 45px;
    }
    h1 {
        color: #f9b384;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    h3{
        font-size: 27px;
    }

    h4{
        color:  #f9b384;
        font-size: 15 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding: 15px 20px;
    }
    
    h5 {
        color: whitesmoke;
        font-size: 25 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 10px;
    }
    
    h6 {
        color: whitesmoke;
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 10px;
    }
    .hr-contact-container{
        border-top: 2px solid whitesmoke;
        border-bottom: 0px;
        width: 748px;
        margin: 0 auto;
    }
    
    .contact-container {
        background-color:  black;
        padding-bottom: 5px;
    }
    .contact-info, .copyright{
        color: whitesmoke;
        font-size: 10 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .tagline {
        color: whitesmoke;
        text-align: center;
        padding-top: 125px;
        font-size: 35px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    span{
        font-style: italic;
    }
    
    a:visited {
            color: black;
    }
    
    a:hover {
        color: whitesmoke;
    }

    .black-container {
        background-color: black;
        width: 500px;
        border-style: solid;
        border-color: #f9b384;
        margin: 0 auto;
    }
    
    .menu-page, .about-page, .photo-gallery-page {
        color: whitesmoke;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .menu-heading, .gallery-heading, .about-us-heading {
        color: #f9b384;
        font-size: 50px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }  
    
    .hr-menu-container{
        border-top: 6px dotted  #f9b384;
        border-bottom: 0px;
        width: 20px;
        margin: 0 auto;
    }
    
    .food-items{
        color: whitesmoke;
        text-align: center; 
        padding-top: 35px;
        font-size: 18px;
    }
    
    .item-description{
        color: whitesmoke;
        text-align: center; 
        font-size: 16px; 
    }
    
    .appetizers-section, .entrees-section, .sides-section, .desserts-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .food-images{
        display: inline-block;
        width: 115px;
        height: 125px;
        padding: 5px 0px;
    }
    
    .drinks-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .drink-items{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    
    .drink-type{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .about-us-info {
        color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 20px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 0px 0px 0px;
        height: 600px;
        width: 1015px;
    }

    .background-container-home {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 975px;
        padding: 0px; 
    }

    .background-container-menu{
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 3150px;
        width: 975px;
        padding: 0px; 
    }

    .background-container-about {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 980px;
        padding: 0px; 
    }

    .background-container-gallery {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 980px;
        padding: 0px; 
    }

    .navbar {
        background-color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        list-style: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        padding: 12px 264px 12px 264px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 0px 6px 0px 6px;
    }
    h1 {
        color: #f9b384;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    h3{
        font-size: 27px;
    }

    h4{
        color:  #f9b384;
        font-size: 15 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding: 15px 20px;
    }
    
    h5 {
        color: whitesmoke;
        font-size: 25 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 10px;
    }
    
    h6 {
        color: whitesmoke;
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 10px;
    }
    .hr-contact-container{
        border-top: 2px solid whitesmoke;
        border-bottom: 0px;
        width: 975px;
        margin: 0 auto;
    }
    
    .contact-container {
        background-color:  black;
        padding-bottom: 5px;
    }
    .contact-info, .copyright{
        color: whitesmoke;
        font-size: 10 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .tagline {
        color: whitesmoke;
        text-align: center;
        padding-top: 160px;
        font-size: 35px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    span{
        font-style: italic;
    }
    
    a:visited {
         color: black;
    }
    
    a:hover {
        color: whitesmoke;
    }

    .black-container {
        background-color: black;
        width: 500px;
        border-style: solid;
        border-color: #f9b384;
        margin: 0 auto;
    }
    
    .menu-page, .about-page, .photo-gallery-page {
        color: whitesmoke;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .menu-heading, .gallery-heading, .about-us-heading {
        color: #f9b384;
        font-size: 50px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }  
    
    .hr-menu-container{
        border-top: 6px dotted  #f9b384;
        border-bottom: 0px;
        width: 20px;
        margin: 0 auto;
    }
    
    .food-items{
        color: whitesmoke;
        text-align: center; 
        padding-top: 35px;
        font-size: 18px;
    }
    
    .item-description{
        color: whitesmoke;
        text-align: center; 
        font-size: 16px; 
    }
    
    .appetizers-section, .entrees-section, .sides-section, .desserts-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .food-images{
        display: inline-block;
        width: 115px;
        height: 125px;
        padding: 5px 0px;
    }
    
    .drinks-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .drink-items{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    
    .drink-type{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .about-us-info {
        color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 20px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 0px 0px 0px;
        height: 600px;
        width: 1015px;
    }

    .background-container-home {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 1182px;
        padding: 0px; 
    }

    .background-container-menu{
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 3150px;
        width: 1182px;
        padding: 0px; 
    }

    .background-container-about {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 1182px;
        padding: 0px; 
    }

    .background-container-gallery {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 1182px;
        padding: 0px; 
    }

    .navbar {
        background-color: #f9b384;
        font-size: 20px;
        font-family: 'Cinzel Decorative', cursive;
        list-style: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        padding: 15px 157px 15px 157px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 0px 63px 0px 63px;
    }
    h1 {
        color: #f9b384;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    h3{
        font-size: 27px;
    }

    h4{
        color:  #f9b384;
        font-size: 15 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding: 15px 20px;
    }
    
    h5 {
        color: whitesmoke;
        font-size: 25 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 10px;
    }
    
    h6 {
        color: whitesmoke;
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 10px;
    }
    .hr-contact-container{
        border-top: 2px solid whitesmoke;
        border-bottom: 0px;
        width: 1181px;
        margin: 0 auto;
    }
    
    .contact-container {
        background-color:  black;
        padding-bottom: 5px;
    }
    .contact-info, .copyright{
        color: whitesmoke;
        font-size: 10 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .tagline {
        color: whitesmoke;
        text-align: center;
        padding-top: 125px;
        font-size: 35px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    span{
        font-style: italic;
    }
    
    a:visited {
            color: black;
    }
    
    a:hover {
        color: whitesmoke;
    }

    .black-container {
        background-color: black;
        width: 650px;
        border-style: solid;
        border-color: #f9b384;
        margin: 0 auto;
    }
    
    .menu-page, .about-page, .photo-gallery-page {
        color: whitesmoke;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .menu-heading, .gallery-heading, .about-us-heading {
        color: #f9b384;
        font-size: 50px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }  
    
    .hr-menu-container{
        border-top: 6px dotted  #f9b384;
        border-bottom: 0px;
        width: 20px;
        margin: 0 auto;
    }
    
    .food-items{
        color: whitesmoke;
        text-align: center; 
        padding-top: 35px;
        font-size: 18px;
    }
    
    .item-description{
        color: whitesmoke;
        text-align: center; 
        font-size: 16px; 
    }
    
    .appetizers-section, .entrees-section, .sides-section, .desserts-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .food-images{
        display: inline-block;
        width: 152px;
        height: 152px;
        padding: 5px 0px;
    }
    
    .drinks-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .drink-items{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    
    .drink-type{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .about-us-info {
        color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 20px;
    }

}



/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0px 0px 0px 0px;
        height: 600px;
        width: 1015px;
    }

    .background-container-home {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 1348px;
        padding: 0px; 
    }

    .background-container-menu{
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 3150px;
        width: 1348px;
        padding: 0px; 
    }

    .background-container-about {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 659px;
        width: 1348px;
        padding: 0px; 
    }

    .background-container-gallery {
        background-image: url("images/restaurant-resize.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 657px;
        width: 1349px;
        padding: 0px; 
    }

    .navbar {
        background-color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        list-style: none;
        display: flex;
        flex-direction: row;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        padding: 15px 186px 15px 186px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
        padding: 0px 72px 0px 72px;
    }
    h1 {
        color: #f9b384;
        font-size: 45px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 0px;
    }
    
    h3{
        font-size: 27px;
    }

    h4{
        color:  #f9b384;
        font-size: 15 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding: 15px 20px;
    }
    
    h5 {
        color: whitesmoke;
        font-size: 25 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 10px;
    }
    
    h6 {
        color: whitesmoke;
        font-size: 15px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 10px;
    }
    .hr-contact-container{
        border-top: 2px solid whitesmoke;
        border-bottom: 0px;
        width: 1350px;
        margin: 0 auto;
    }
    
    .contact-container {
        background-color:  black;
        padding-bottom: 5px;
    }
    .contact-info, .copyright{
        color: whitesmoke;
        font-size: 10 px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-bottom: 15px;
    }
    
    .tagline {
        color: whitesmoke;
        text-align: center;
        padding-top: 125px;
        font-size: 35px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    span{
        font-style: italic;
    }
    
    a:visited {
            color: black;
    }
    
    a:hover {
        color: whitesmoke;
    }

    .black-container {
        background-color: black;
        width: 650px;
        border-style: solid;
        border-color: #f9b384;
        margin: 0 auto;
    }
    
    .menu-page, .about-page, .photo-gallery-page {
        color: whitesmoke;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .menu-heading, .gallery-heading, .about-us-heading {
        color: #f9b384;
        font-size: 50px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 20px;
    }  
    
    .hr-menu-container{
        border-top: 6px dotted  #f9b384;
        border-bottom: 0px;
        width: 20px;
        margin: 0 auto;
    }
    
    .food-items{
        color: whitesmoke;
        text-align: center; 
        padding-top: 35px;
        font-size: 18px;
    }
    
    .item-description{
        color: whitesmoke;
        text-align: center; 
        font-size: 16px; 
    }
    
    .appetizers-section, .entrees-section, .sides-section, .desserts-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .food-images{
        display: inline-block;
        width: 152px;
        height: 152px;
        padding: 5px 0px;
    }
    
    .drinks-section{
        color: whitesmoke;
        text-align: center;
        padding-top: 25px;
    }
    
    .drink-items{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
    }
    
    .drink-type{
        color: whitesmoke;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .about-us-info {
        color: #f9b384;
        font-size: 22px;
        font-family: 'Cinzel Decorative', cursive;
        text-align: center;
        padding-top: 20px;
    }

}