*{
    background-color: black;
}

.name{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
}

.Japan{
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 750px;
}

.JP-first{
    position: absolute;
    background-color: #BC022C;
    width: 310px;
    height: 310px;
    border-radius: 310px;
    left: 535px;
    top: 230px;
}