*{
    background-color: black;
}

.name{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
}

.Niger{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 583.33px;
}

.NE-first{
    position: absolute;
    background-color: #E15307;
    height: 176px;
    width: 583.33px;
    top: 92px;
}

.NE-second{
    position: absolute;
    background-color: #10AF2A;
    height: 176px;
    width: 583.33px;
    top: 457px;
}

.NE-third{
    position: absolute;
    background-color: #E15307;
    width: 156px;
    height: 156px;
    bottom: 218px;
    left: 615px;
    border-radius: 156px;  
}

