*{
    background-color: black;
}

.name{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
}

.Gambia{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 750px;
}

.GM-first{
    position: absolute;
    background-color: #CE1127;
    height: 166.7px;
    width: 750px;
    top: 132px;
}

.GM-second{
    position: absolute;
    background-color: #0D1D8B;
    height: 120px;
    width: 750px;
    top: 320px;
}

.GM-third{
    position: absolute;
    background-color:  #3B7827;
    height: 166.67px;
    width: 750px;
    top: 465px;
}