*{
    background-color: white;
}

.name{
    color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
}

.Germany{
    background-color:pink;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 833px;
}

.DE-first{
    position: absolute;
    background-color: #000000;
    height: 166.67px;
    width: 833px;
    bottom: 357px;
    left: 268px;  
}

.DE-second{
    position: absolute;
    background-color: #DE0002;
    height: 166.67px;
    width: 833px;
    bottom: 190px;
    left: 268px;
}

.DE-third{
    position: absolute;
    background-color: #FFCE00;
    height: 166.67px;
    width: 833px;
    bottom: 27px;
    left: 268px;
}