*{
    background-color: black;
}

.name{
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
}

.Madagascar{
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 750px;
}

.MG-first{
    position: absolute;
    background-color: #FC3E32;
    height: 250px;
    width: 500px;
    top: 158px;
    left: 550px;
}

.MG-second{
    position: absolute;
    background-color: #007E39;
    height: 250px;
    width: 500px;
    top: 408px;
    left: 550px;
}